.card
  .card-header
    = link_to post.title, post 
  .card-body
    = post.content
  .card-footer
    .btn-group
      = post.created_at
      /= link_to 'Показать', post
      /= link_to 'Редактировать', edit_post_path(post)
      - if current_user
        - if post.user == current_user  
          = link_to edit_post_path(post), class: 'btn btn-sm btn-warning' do
            .fa.fa-edit
            Редактировать
          = link_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do
            .fa.fa-trash
            Удалить
      = post.user.email
      = link_to 'New Comment', new_post_comment_path(post), class: 'btn btn-sm btn-warning'    
%p    